<!DOCTYPE html>
<html>
<head>
	<title>我的资料</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> 
	<script src="../../common/js/sea.min.js"></script>
	<script src="../../common/js/config.js"></script>
	<script src="../../common/js/global.js"></script>
	<link rel="stylesheet" type="text/css" href="../../assets/css/profileinfo.css">
</head>
<body>
	<div class="header_back">
		<img src="../../assets/img/back.png">
	</div>
	<ul class="classify_lists">
		<li class="classify_item">
			<ul class="info_lists">
				<li class="info_item">
					<div class="overflow_hidden">
						<div class="title">昵称</div>
						<div class="value nickname">信马由缰</div>
					</div>
				</li>
				<li class="info_item">
					<div class="overflow_hidden">
						<div class="title">性别</div>
						<div class="value sex">男</div>
					</div>
				</li>
				<li class="info_item">
					<div class="motto">这场仗打完，我就回老家结婚</div>
				</li>
			</ul>
		</li>
		<li class="classify_item">
			<ul class="info_lists">
				<li class="info_title">
					<div>联系方式</div>
				</li>
				<li class="info_item">
					<div class="overflow_hidden">
						<div class="title">QQ</div>
						<div class="value qq">未设置</div>
					</div>
				</li>
				<li class="info_item">
					<div class="overflow_hidden">
						<div class="title">微信</div>
						<div class="value wechat">未设置</div>
					</div>
				</li>
			</ul>
		</li>
		<li class="classify_item">
			<ul class="info_lists">
				<li class="info_title">
					<div>详细资料</div>
				</li>
				<li class="info_item">
					<div class="overflow_hidden">
						<div class="title">年龄</div>
						<div class="value">24岁</div>
					</div>
				</li>
				<li class="info_item">
					<div class="overflow_hidden">
						<div class="title">居住地</div>
						<div class="value">未设置</div>
					</div>
				</li>
				<li class="info_item">
					<div class="overflow_hidden">
						<div class="title">身高</div>
						<div class="value">未设置</div>
					</div>
				</li>
				<li class="info_item">
					<div class="overflow_hidden">
						<div class="title">体重</div>
						<div class="value">未设置</div>
					</div>
				</li>
				<li class="info_item">
					<div class="overflow_hidden">
						<div class="title">学历</div>
						<div class="value">未设置</div>
					</div>
				</li>
				<li class="info_item">
					<div class="overflow_hidden">
						<div class="title">职业</div>
						<div class="value">未设置</div>
					</div>
				</li>
				<li class="info_item">
					<div class="overflow_hidden">
						<div class="title">月收入</div>
						<div class="value">未设置</div>
					</div>
				</li>
			</ul>
		</li>
		<li class="classify_item">
			<ul class="info_lists">
				<li class="info_title">
					<div>秘密信息</div>
				</li>
				<li class="info_item">
					<div class="overflow_hidden">
						<div class="title">交友目的</div>
						<div class="value">约会</div>
					</div>
				</li>
				<li class="info_item">
					<div class="overflow_hidden">
						<div class="title">恋爱观</div>
						<div class="value">顺其自然</div>
					</div>
				</li>
				<li class="info_item">
					<div class="overflow_hidden">
						<div class="title">首次见面希望</div>
						<div class="value">喝喝茶</div>
					</div>
				</li>
				<li class="info_item">
					<div class="overflow_hidden">
						<div class="title">喜欢爱爱的地点</div>
						<div class="value">会所</div>
					</div>
				</li>
			</ul>
		</li>
	</ul>
</body>
<script type="text/javascript">
    seajs.use('../../js/profileinfo.js');
</script>
</html>