<!DOCTYPE html>
<html>
<head>
	<title>南方以南</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> 
	<script src="../../common/js/sea.min.js"></script>
	<script src="../../common/js/config.js"></script>
	<script src="../../common/js/global.js"></script>
	<link rel="stylesheet" type="text/css" href="../../assets/css/profilephone.css">
</head>
<body>
	<div class="header_back">
		<img src="../../assets/img/back.png">
	</div>
	<div class="content">
		<div class="phone_box">
			<input class="phone" type="number" name="phone">
			<div class="send_again_btn">30s后重新发送</div>
		</div>
		
		<input class="varify_num" type="number" name="phone" placeholder="请输入验证码">
		<div class="next">下一步</div>
	</div>
</body>
<script type="text/javascript">
    seajs.use('../../js/profilephone.js');
</script>
</html>