<!DOCTYPE html>
<html>
<head>
	<title>相册</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> 
	<script src="../../common/js/sea.min.js"></script>
	<script src="../../common/js/config.js"></script>
	<script src="../../common/js/global.js"></script>
	<script src="../../common/js/lib/crypto-js.js"></script>
	<link rel="stylesheet" type="text/css" href="../../assets/css/profilealbum.css">
</head>
<body>
	<div class="header_back">
		<img src="../../assets/img/back.png">
	</div>
	
	<div class="album">
		<div class="img_box"><img class="add_btn" src="../../assets/img/add_img.png"></div>
		<div class="img_box"><img src="../../assets/img/headImg.jpg"></div>
		<div class="img_box"><img src="../../assets/img/headImg.jpg"><div class="check_status">审核中</div></div>
		<div class="img_box"><img src="../../assets/img/headImg.jpg"><div class="check_status">审核未通过</div></div>
	</div>
</body>
<script type="text/javascript">
    seajs.use('../../js/profile/profilealbum.js');
</script>
</html>