<!DOCTYPE html>
<html>
<head>
	<title>修改独白</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> 
	<script src="../../common/js/global.js"></script>
	<script src="../../common/js/sea.min.js"></script>
	<script src="../../common/js/config.js"></script>
	<script src="../../common/js/lib/crypto-js.js"></script>
	<link rel="stylesheet" type="text/css" href="../../assets/css/profileinfo.css">
</head>
<body>
	<div class="header_back">
		<img src="../../assets/img/back.png">
	</div>
	<textarea class="motto_textarea"></textarea>
	<div class="motto_confirm">确定</div>
</body>
<script type="text/javascript">
    seajs.use('../../js/profile/profileinfo_motto.js');
</script>
</html>