<!DOCTYPE html>
<html>
<head>
	<title>相册</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> 
	<script src="../../common/js/sea.min.js"></script>
	<script src="../../common/js/config.js"></script>
	<script src="../../common/js/global.js"></script>
	<link rel="stylesheet" type="text/css" href="../../assets/css/profilealbum.css">
</head>
<body>
	<img class="go_back" src="../../assets/img/back.png">
	<div class="album_one">
		<div class="img_box one">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box two">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box three">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box one">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box two">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box three">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box one">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box two">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box three">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box one">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box two">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box three">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box one">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box two">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box three">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box one">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box two">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box three">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box one">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box two">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box three">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box one">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box two">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box three">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box one">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box two">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box three">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box one">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box two">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box three">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box one">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box two">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box three">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box one">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box two">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		<div class="img_box three">
			<img class="album_img" src="../../assets/img/headImg.jpg">
			<img class="check" src="../../assets/img/check_yes.png">
		</div>
		
	</div>
</body>
<script type="text/javascript">
    seajs.use('../../js/profile/profilealbum.js');
</script>
</html>