<!DOCTYPE html>
<html>
<head>
	<title>修改昵称</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> 
	<script src="../../common/js/sea.min.js"></script>
	<script src="../../common/js/config.js"></script>
	<script src="../../common/js/global.js"></script>
	<link rel="stylesheet" type="text/css" href="../../assets/css/profileinfo.css">
</head>
<body>
	<div class="header_back">
		<img src="../../assets/img/back.png">
	</div>
	<input class="nicknameinput" type="text" name="" value="天真的大熊">
	<div class="nick_confirm">确定</div>
</body>
<script type="text/javascript">
    seajs.use('../../js/profileinfo.js');
</script>
</html>