<!DOCTYPE html>
<html>
<head>
	<title>会员</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> 
	<script src="../../common/js/global.js"></script>
	<script src="../../common/js/sea.min.js"></script>
	<script src="../../common/js/config.js"></script>
	<script src="../../common/js/lib/crypto-js.js"></script>
	<link rel="stylesheet" type="text/css" href="../../assets/css/profilevipprovilege.css">
</head>
<body>
	<img class="vip_banner" src="../../assets/img/vip_banner.png">	
	<div class="package_title">超值套餐</div>
	<div class="package">
		<!-- <div class="package_item">
			<img src="../../assets/img/huangguan.png">
			<div>一个月VIP</div>
			<div><span>￥</span>38.0</div>
			<div class="buy_btn">购买</div>
		</div>
		<div class="package_item">
			<img src="../../assets/img/huangguan.png">
			<div>三个月VIP</div>
			<div><span>￥</span>68.0</div>
			<div class="buy_btn">购买</div>
		</div>
		<div class="package_item">
			<img src="../../assets/img/huangguan.png">
			<div>六个月VIP</div>
			<div><span>￥</span>98.0</div>
			<div class="buy_btn">购买</div>
		</div> -->
	</div>
	<script type="text/x-dot-template" id="vip_package">
		<div class="package_item" data-goodscode={{=it.b13}} data-price={{=it.b126}}>
			<img src="../../assets/img/huangguan.png">
			<div>{{=it.b51}}</div>
			<div><span>￥</span>{{=it.b126}}</div>
			<div class="buy_btn">购买</div>
		</div>
	</script>
	<div class="provilege_title">VIP会员特权</div>
	<div class="provilege">
		<div class="provilege_item">
			<img src="../../assets/img/vip_right1.png">
			<div>无限制看异性相册</div>
		</div>
		<div class="provilege_item">
			<img src="../../assets/img/vip_right2.png">
			<div>查看用户微信、QQ、手机号</div>
		</div>
		<div class="provilege_item">
			<img src="../../assets/img/vip_right3.png">
			<div>查看最近访客，全面了解关注我的人</div>
		</div>
		<div class="provilege_item">
			<img src="../../assets/img/vip_right4.png">
			<div>无限制给美女发消息</div>
		</div>
	</div>

	<div class="message">
		<ul>
			<li><span class="name">[马丹]</span>刚刚获得了100元话费</li>
			<li><span class="name">[总有刁民想害朕]</span>刚刚获得了100元话费</li>
			<li><span class="name">[全特么是套路]</span>刚刚获得了100元话费</li>
			<li><span class="name">[了不起的挨死比]</span>刚刚获得了100元话费</li>
		</ul>

		<div class="convert_btn">兑换话费</div>
	</div>
<!-- 

	<div class="hint_box">
		<div>提示消息</div>
	</div> -->
</body>
<script type="text/javascript">
    seajs.use('../../js/profile/profilevipprovilege.js');
</script>
</html>