<!DOCTYPE html>
<html>
<head>
	<title>微信</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> 
	<script src="../../common/js/global.js"></script>
	<script src="../../common/js/sea.min.js"></script>
	<script src="../../common/js/config.js"></script>
	<script src="../../common/js/lib/crypto-js.js"></script>
	<link rel="stylesheet" type="text/css" href="../../assets/css/profileinfo.css">
</head>
<body>
	<div class="header_back">
		<img src="../../assets/img/back.png">
	</div>
	<img class="qq_big" src="../../assets/img/wechat_big.png">

	<div class="content">
		<div class="qq_box">
			<input class="wechatinput" type="text" name="phone" placeholder="输入微信号，他人更容易找到你哦">
			<div class="qq_hint">微信号:</div>
		</div>

		<div class="switch_box">
			<span>是否对优质客户公开</span>
			<div class="switch">
				<img src="../../assets/img/switch_off.png">
			</div>
		</div>
		
		<div class="qq_confirm">确定</div>
	</div>
</body>
<script type="text/javascript">
    seajs.use('../../js/profile/profileinfo_wechat.js');
</script>
</html>