<!DOCTYPE html>
<html>
<head>
	<title>最近访客</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> 
	<script src="../../common/js/sea.min.js"></script>
	<script src="../../common/js/config.js"></script>
	<script src="../../common/js/global.js"></script>
	<script src="../../common/js/lib/crypto-js.js"></script>
	<link rel="stylesheet" type="text/css" href="../../assets/css/profilevisiter.css">
</head>
<body>
	<div class="header_back">
		<img src="../../assets/img/back.png">
	</div>
	<ul class="person_lists" style="display:none;">
		<!-- <li class="person_item">
			<div class="box">
				<img class="head_img" src="../../assets/img/headImg.jpg">
				<div class="content">
					<div class="name"><span>长安不问</span></div>
					<div class="info">27岁 | 156cm | 浙江 杭州</div>
					<div class="time">到访时间：<span>1-14 14:11</span></div>
				</div>
				<img class="right" src="../../assets/img/right.png">
			</div>
			<div class="border"></div>
		</li>
		<li class="person_item">
			<div class="box">
				<img class="head_img" src="../../assets/img/headImg.jpg">
				<div class="content">
					<div class="name name_huangguan"><span>菲菲</span><img src="../../assets/img/huangguan.png"></div>
					<div class="info">27岁 | 156cm | 浙江 杭州</div>
					<div class="time">到访时间：<span>1-14 14:11</span></div>
				</div>
				<img class="right" src="../../assets/img/right.png">
			</div>
			<div class="border"></div>
		</li> -->
	</ul>
	<script type="text/x-dot-template" id="person_item">
    	<li class="person_item">
			<div class="box">
				<img class="head_img" src="{{=it.photoUrl}}">
				<div class="content">
					{{? it.isVip=='1'}}
					<div class="name name_huangguan"><span>{{=it.name}}</span><img src="../../assets/img/huangguan.png"></div>
					{{??}}
					<div class="name"><span>{{=it.name}}</span></div>
					{{?}}
					<div class="info">{{=it.age}}岁 | {{=it.height}}cm | {{=it.province}} {{=it.city}}</div>
					<div class="time">到访时间：<span>{{=it.visitiTime}}</span></div>
				</div>
				<img class="right" src="../../assets/img/right.png">
			</div>
			<div class="border"></div>
		</li>
    </script>
	<div class="no_permission" style="display:none">
		<img src="../../assets/img/visiter_logo.png">
		<div class="name_hint">Hi,<span class="self_name">李梅</span></div>
		<div class="visiter_hint">最近<span class="recent_days">30</span>天，有<span class="recent_visiter"></span>人来看过你</div>
		<div class="vip_box">
			<div class="border_left"></div>
			<div class="vip_sign">VIP</div>
			<div class="border_right"></div>
		</div>
		<div class="member_text one">想知道是谁在偷偷看过你吗？</div>
		<div class="member_text">成为会员享受实时访客列表查看功能</div>
		<div class="member_btn">成为会员</div>
	</div>
</body>
<script type="text/javascript">
    seajs.use('../../js/profile/profilevisiter.js');
</script>
</html>