<!DOCTYPE html>
<html>
<head>
	<title>择友条件</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> 
	<script src="../../common/js/sea.min.js"></script>
	<script src="../../common/js/config.js"></script>
	<script src="../../common/js/global.js"></script>
	<link rel="stylesheet" type="text/css" href="../../assets/css/profilefriendcondition.css">
</head>
<body>
	<div class="header_back">
		<img src="../../assets/img/back.png">
	</div>
	<ul class="condition_lists">
		<li class="condition_item">
			<div class="overflow_hidden">
				<div class="title">年龄范围</div>
				<img src="../../assets/img/right.png">
				<div class="value">26-30</div>
			</div>
			<div class="border"></div>
		</li>
		<li class="condition_item">
			<div class="overflow_hidden">
				<div class="title">身高范围</div>
				<img src="../../assets/img/right.png">
				<div class="value">未填写</div>
			</div>
			<div class="border"></div>
		</li>
		<li class="condition_item">
			<div class="overflow_hidden">
				<div class="title">婚姻状况</div>
				<img src="../../assets/img/right.png">
				<div class="value">未婚</div>
			</div>
			<div class="border"></div>
		</li>
		<li class="condition_item">
			<div class="overflow_hidden">
				<div class="title">学历</div>
				<img src="../../assets/img/right.png">
				<div class="value">本科</div>
			</div>
			<div class="border"></div>
		</li>
		<li class="condition_item">
			<div class="overflow_hidden">
				<div class="title">所在地区</div>
				<img src="../../assets/img/right.png">
				<div class="value">浙江 杭州</div>
			</div>
			<div class="border"></div>
		</li>
		<li class="condition_item">
			<div class="overflow_hidden">
				<div class="title">月收入</div>
				<img src="../../assets/img/right.png">
				<div class="value">6000</div>
			</div>
			<div class="border"></div>
		</li>
	</ul>
</body>
<script type="text/javascript">
    seajs.use('../../js/profilefriendcondition.js');
</script>
</html>