<!DOCTYPE html>
<html>
<head>
	<title>择友条件</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> 
	<script src="../../common/js/global.js"></script>
	<script src="../../common/js/sea.min.js"></script>
	<script src="../../common/js/lib/seajs-text.js"></script>
	<script src="../../common/js/config.js"></script>
	<script src="../../common/js/lib/crypto-js.js"></script>
	<link rel="stylesheet" type="text/css" href="../../assets/css/profilefriendcondition.css">
</head>
<body>
	<div class="header_back">
		<img src="../../assets/img/back.png">
	</div>
	<ul class="condition_lists">
		<li class="condition_item">
			<div class="overflow_hidden">
				<div class="title">年龄范围</div>
				<img src="../../assets/img/right.png">
				<div class="value age"></div>
			</div>
			<div class="border"></div>
		</li>
		<li class="condition_item">
			<div class="overflow_hidden">
				<div class="title">身高范围</div>
				<img src="../../assets/img/right.png">
				<div class="value height"></div>
			</div>
			<div class="border"></div>
		</li>
		<li class="condition_item">
			<div class="overflow_hidden">
				<div class="title">婚姻状况</div>
				<img src="../../assets/img/right.png">
				<div class="value marriageStatus"></div>
			</div>
			<div class="border"></div>
		</li>
		<li class="condition_item">
			<div class="overflow_hidden">
				<div class="title">学历</div>
				<img src="../../assets/img/right.png">
				<div class="value educationLevel"></div>
			</div>
			<div class="border"></div>
		</li>
		<li class="condition_item">
			<div class="overflow_hidden">
				<div class="title">所在地区</div>
				<img src="../../assets/img/right.png">
				<div class="value address"></div>
			</div>
			<div class="border"></div>
		</li>
		<li class="condition_item">
			<div class="overflow_hidden">
				<div class="title">月收入</div>
				<img src="../../assets/img/right.png">
				<div class="value wage"></div>
			</div>
			<div class="border"></div>
		</li>
	</ul>

	<!-- <div class="select_bg" style="display:none"></div>
	<div class="select_box" style="display:none">
		<div class="select_title_box">
			<div class="select_cancel"><span>取消</span></div>
			<div class="select_title"></div>
			<div class="select_confirm"><span>完成</span></div>
		</div>
		<ul class="select_items">
			<li class="select_item">18-20</li>
		</ul>
		<div class="selected_flag"></div>
	</div> -->
</body>
<script type="text/javascript">
    seajs.use('../../js/profile/profilefriendcondition.js');
</script>
</html>