<!DOCTYPE html>
<html>
<head>
	<title>个人主页</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> 
	<script src="../../common/js/sea.min.js"></script>
	<script src="../../common/js/config.js"></script>
	<script src="../../common/js/global.js"></script>
	<link rel="stylesheet" type="text/css" href="../../assets/css/profilehome.css">
</head>
<body>
	<div class="header_back">
		<img src="../../assets/img/back.png">
	</div>
	<div class="fontsize_0 overflow_hidden">
		<img class="head_img" src="../../assets/img/headImg.jpg">
		<div class="head_info">
			<div class="name">追寻幸福</div>
			<div class="age_height_education"><span class="age">27岁</span><span class="height">175cm</span><span class="education">大专</span></div>
			<div class="address"><span class="province">湖南</span><span class="city">湘潭</span></div>
		</div>
	</div>
	<ul class="connect_btns">
		<li class="connect_btn love">
			<img src="../../assets/img/love.png">
			<span>喜欢</span>
		</li>	
		<li class="connect_btn greet">
			<img src="../../assets/img/greet_hi.png">
			<span>打招呼</span>
		</li>
		<li class="connect_btn connect">
			<img src="../../assets/img/write_message.png">
			<span>写私信</span>
		</li>	
	</ul>

	<div class="albums">
		<img src="../../assets/img/headImg.jpg">
		<img src="../../assets/img/headImg.jpg">
		<img src="../../assets/img/headImg.jpg">
		<img src="../../assets/img/headImg.jpg">
		<img src="../../assets/img/headImg.jpg">
	</div>

	<div class="height_2"></div>

	<ul class="classify_infos">
		<li class="classify_item">
			<ul class="detail_lists">
				<li class="detail_header">自我介绍</li>
				<li class="motto">我知道你会缓缓的到来，来的附近的时刻来房间卡洛斯的接口，附件是减肥了速度快解放，，尖峰时刻来得及付款了圣诞节疯狂，发生激烈的附件</li>
			</ul>
		</li>
		<li class="classify_item">
			<ul class="detail_lists">
				<li  class="detail_header">秘密信息</li>
				<li class="detail_item">
					<img src="../../assets/img/info_time.png">
					<div class="key">最近上线时间</div>
					<div  class="value">201 6-06-21 17:33:11</div>
				</li>
				<li class="detail_item">
					<img src="../../assets/img/info_goal.png">
					<div class="key">交友目的</div>
					<div  class="value">假日×伙伴</div>
				</li>
				<li class="detail_item">
					<img src="../../assets/img/info_lovevalue.png">
					<div class="key">恋爱观</div>
					<div class="value"> 顺其自然</div>
				</li>
				<li class="detail_item">
					<img src="../../assets/img/info_firstmeet.png">
					<div class="key">首次希望见面</div>
					<div class="value"> 喝喝茶</div>
				</li>
				<li class="detail_item">
					<img src="../../assets/img/info_loveaddress.png">
					<div class="key">喜欢爱爱的地点</div>
					<div class="value">高级宾馆</div>
				</li>
			</ul>
		</li>
		<li class="classify_item">
			<ul class="detail_lists">
				<li class="detail_header">联系方式</li>
				<li class="detail_item">
					<img src="../../assets/img/info_qq.png">
					<div class="key">QQ</div>
					<div  class="value">仅VIP可见</div>
				</li>
				<li class="detail_item">
					<img src="../../assets/img/info_wechat.png">
					<div class="key">微信</div>
					<div  class="value">仅VIP可见</div>
				</li>
				<li class="detail_item">
					<img src="../../assets/img/info_phone.png">
					<div class="key">手机</div>
					<div class="value">仅VIP可见</div>
				</li>
			</ul>
		</li>
		<li class="classify_item">
			<ul class="detail_lists">
				<li  class="detail_header">详细资料</li>
				<li class="detail_item">
					<img src="../../assets/img/info_age.png">
					<div class="key">年龄</div>
					<div  class="value">24岁</div>
				</li>
				<li class="detail_item">
					<img src="../../assets/img/info_address.png">
					<div class="key">居住地</div>
					<div  class="value">浙江杭州</div>
				</li>
				<li class="detail_item">
					<img src="../../assets/img/info_weight.png">
					<div class="key">体重</div>
					<div class="value">60kg</div>
				</li>
				<li class="detail_item">
					<img src="../../assets/img/info_job.png">
					<div class="key">职业</div>
					<div class="value">企业职工</div>
				</li>
				<li class="detail_item">
					<img src="../../assets/img/info_income.png">
					<div class="key">月收入</div>
					<div class="value">5000-10000</div>
				</li>
			</ul>
		</li>
		<li class="classify_item">
			<ul class="detail_lists">
				<li  class="detail_header">择友标准</li>
				<li class="detail_item">
					<img src="../../assets/img/info_age_to.png">
					<div class="key">年龄范围</div>
					<div  class="value">24-40岁</div>
				</li>
				<li class="detail_item">
					<img src="../../assets/img/info_address_to.png">
					<div class="key">居住地</div>
					<div  class="value">浙江杭州</div>
				</li>
				<li class="detail_item">
					<img src="../../assets/img/info_height_to.png">
					<div class="key">身高</div>
					<div class="value">160cm左右</div>
				</li>
				<li class="detail_item">
					<img src="../../assets/img/info_education_to.png">
					<div class="key">学历</div>
					<div class="value">本科</div>
				</li>
				<li class="detail_item">
					<img src="../../assets/img/info_income_to.png">
					<div class="key">月收入</div>
					<div class="value">5000-10000</div>
				</li>
			</ul>
		</li>
	</ul>
		
</body>
<script type="text/javascript">
    seajs.use('../../js/profilehome.js');
</script>
</html>