@import url('../common/global.css');
.person_lists{
	list-style: none;
}
.person_item{
	height: 1.6rem;
}
.box{
	overflow: hidden;
}
.head_img{
	float: left;
	margin-left: .2rem;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: .1rem;
}
.content{
	font-size: 0;
	float: left;
	margin-left: .2rem;
}
.name{
	font-size: .3rem;
	height: .3rem;
	color: #ffffff;
	margin-top: .06rem;
}
.name_huangguan{
	color: #e43f3f;
}
.name_huangguan span{
	/*vertical-align: middle;*/
}
.name_huangguan img{
	width: .36rem;
	height: .36rem;
	margin-left: .1rem;
	vertical-align: top;
}
.info{
	font-size: .24rem;
	height: .24rem;
	color: #ffffff;
	margin-top: .13rem;
}
.time{
	font-size: .24rem;
	height: .24rem;
	color: #aaaaaa;
	margin-top: .13rem;
}
.right{
	display: block;
	float: right;
	width: .32rem;
	height: .32rem;
	margin-top: .44rem;
	margin-right: .2rem;
}
.border{
	margin-left: 1.6rem;
	margin-top: .2rem;
	border-bottom: 1px solid #3b3142;
}
.no_permission{
	font-size: 0;
	margin-top: .12rem;
	text-align: center;
}
.no_permission img{
	width: 4rem;
	height: 4rem;
}
.name_hint{
	font-size: .36rem;
	color: #ffffff;
}
.visiter_hint{
	font-size: .32rem;
	color: #ffffff;
	margin-top: .26rem;
}
.recent_days{
	color: #1c75bc;
}
.recent_visiter{
	color:#e43f3f;
	width: .4rem;
	display: inline-block;
}
.vip_box{
	width: 5.7rem;
	margin: auto;
	margin-top: 1rem;
	overflow: hidden;
}
.vip_sign{
	float: left;
	font-size: .32rem;
	margin: auto;
	color: #ffffff;
	width: .66rem;
	height: .38rem;
	line-height: .38rem;
	border-radius: 2rem;
	background: #D4CCDA;
	z-index: 2;
}
.border_left,.border_right{
	width: 2.48rem;
	border-bottom: 1px solid #3b3142;
	float: left;
	margin-top: .19rem;
}
.member_text.one{
	margin-top: .58rem;
}
.member_text{
	font-size: .28rem;
	line-height: .38rem;
	color: #ffffff;
}
.member_btn{
	font-size: .32rem;
	height: .8rem;
	line-height: .8rem;
	width: 5.5rem;
	background: #e43f3f;
	color: #ffffff;
	border-radius: 2rem;
	margin: auto;
	margin-top: .8rem;
}