<!DOCTYPE html>
<html>
<head>
	<title>每日推荐</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> 
	<script src="../common/js/sea.min.js"></script>
	<script src="../common/js/config.js"></script>
	<script src="../common/js/global.js"></script>
	<link rel="stylesheet" type="text/css" href="../assets/css/dayOfRecommend.css">
</head>
<body>
	<div class="welcome_back">
		<div>欢迎回来</div>
		<div>TA们在线，快和TA们打个招呼吧!</div>
	</div>

	<ul class="person_lists">
		<li class="person_item">
			<div class="overflow_hidden">
				<img src="../assets/img/headImg.jpg">
				<div class="info_box">
					<div class="name">东皇薄荷</div>
					<div class="info">浙江 · 22岁 · 165cm</div>
				</div>
			</div>
			<div class="border"></div>
		</li>
		<li class="person_item">
			<div class="overflow_hidden">
				<img src="../assets/img/headImg.jpg">
				<div class="info_box">
					<div class="name">东皇薄荷</div>
					<div class="info">浙江 · 22岁 · 165cm</div>
				</div>
			</div>
			<div class="border"></div>
		</li>
		<li class="person_item">
			<div class="overflow_hidden">
				<img src="../assets/img/headImg.jpg">
				<div class="info_box">
					<div class="name">东皇薄荷</div>
					<div class="info">浙江 · 22岁 · 165cm</div>
				</div>
			</div>
			<div class="border"></div>
		</li>
	</ul>
	
	<div class="say_hello">一键打招呼</div>
		
		
</body>
<script type="text/javascript">
    seajs.use('../js/dayOfRecommend.js');
</script>
</html>