<!DOCTYPE html>
<html>
<head>
	<title>缘分</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> 
	<script src="../common/sea.min.js"></script>
	<script src="../common/config.js"></script>
	<script src="../common/global.js"></script>
	<link rel="stylesheet" type="text/css" href="../assets/css/index.css">
</head>
<body>
	<div class="page page_fate">
		<ul class="fate_header">
			<li><img src="../assets/img/headImg.jpg"></li>
			<li><img src="../assets/img/headImg.jpg"></li>
			<li><img src="../assets/img/headImg.jpg"></li>
			<li><img src="../assets/img/headImg.jpg"></li>
			<li><img src="../assets/img/headImg.jpg"></li>
		</ul>

		<div class="fate_ad">
			<img src="../assets/img/horn.png">
			<span>100元话费限时赠送，点击查看</span>
		</div>

		<ul class="fate_person_list">
			<li class="person_item">
				<div class="person_box">
					<img class="head_img" src="../assets/img/headImg.jpg">
					<div class="content">
						<div class="name">徒有琴</div>
						<div class="info"><img src=""> 24岁 <img src=""> 173cm <img src=""> 浙江</div>
						<div class="motto">爱需要两个人的努力，一个人的埋头苦干只能是一份单恋</div>
					</div>
				</div>
				<div class="action">
					<div class="btn_box">
						<div class="love_btn"><img class="love_img" src="../assets/img/love.png"><span>已喜欢</span></div>
					</div>
					<div class="btn_box">
						<div class="greet_btn"><img class="greet_img" src="../assets/img/greet.png"><span>已打招呼</span></div>
					</div>
				</div>	
			</li>
			<li class="person_item">
				<div class="person_box">
					<img class="head_img" src="../assets/img/headImg.jpg">
					<div class="content">
						<div class="name">徒有琴</div>
						<div class="info"><img src=""> 24岁 <img src=""> 173cm <img src=""> 浙江</div>
						<div class="motto">爱需要两个人的努力，一个人的埋头苦干只能是一份单恋</div>
					</div>
				</div>
				<div class="action">
					<div class="btn_box">
						<div class="love_btn"><img class="love_img" src="../assets/img/love.png"><span>已喜欢</span></div>
					</div>
					<div class="btn_box">
						<div class="greet_btn"><img class="greet_img" src="../assets/img/greet.png"><span>已打招呼</span></div>
					</div>
				</div>	
			</li>
		</ul>
	</div>

	<div class="page page_message">
		<ul class="mesage_person_list">
			<li class="person_item">
				<div class="box">
					<img class="head_img" src="../assets/img/headImg.jpg">
					<div class="content">
						<div class="name">长安不问</div>
						<div class="info">27岁 . 浙江 . 156cm</div>
					</div>
					<div class="status">
						<div class="time">2016.07.12</div>
						<div class="is_read">未读</div>
					</div>
				</div>
				<div class="border"></div>
			</li>
			<li class="person_item">
				<div class="box">
					<img class="head_img" src="../assets/img/headImg.jpg">
					<div class="content">
						<div class="name">长安不问</div>
						<div class="info">27岁 . 浙江 . 156cm</div>
					</div>
					<div class="status">
						<div class="time">2016.07.12</div>
						<div class="is_read">未读</div>
					</div>
				</div>
				<div class="border"></div>
			</li>
			<li class="person_item">
				<div class="box">
					<img class="head_img" src="../assets/img/headImg.jpg">
					<div class="content">
						<div class="name">长安不问</div>
						<div class="info">27岁 . 浙江 . 156cm</div>
					</div>
					<div class="status">
						<div class="time">2016.07.12</div>
						<div class="is_read">未读</div>
					</div>
				</div>
				<div class="border"></div>
			</li>
		</ul>
	</div>

	<div class="page page_nearby">
		<div class="nearby_info">你现在<span class="position">西溪附近</span>下面的美女最近在你附近出没过，赶紧给她们打个招呼</div>
		<ul class="nearby_person_list">
			<li class="person_item">
				<div class="box">
					<img class="head_img" src="../assets/img/headImg.jpg">
					<div class="content">
						<div class="name">长安不问</div>
						<div class="info">27岁  . 156cm</div>
					</div>
					<div class="status">
						<div class="time"><img src="../assets/img/position.png"><span>0.4km</span></div>
						<div class="is_read"><img src="../assets/img/greet_nearby.png"><span>打招呼</span></div>
					</div>
				</div>
				<div class="border"></div>
			</li>
			<li class="person_item">
				<div class="box">
					<img class="head_img" src="../assets/img/headImg.jpg">
					<div class="content">
						<div class="name">长安不问</div>
						<div class="info">27岁  . 156cm</div>
					</div>
					<div class="status">
						<div class="time"><img src="../assets/img/position.png"><span>0.4km</span></div>
						<div class="is_read"><img src="../assets/img/greet_nearby.png"><span>打招呼</span></div>
					</div>
				</div>
				<div class="border"></div>
			</li>
			<li class="person_item">
				<div class="box">
					<img class="head_img" src="../assets/img/headImg.jpg">
					<div class="content">
						<div class="name">长安不问</div>
						<div class="info">27岁  . 156cm</div>
					</div>
					<div class="status">
						<div class="time"><img src="../assets/img/position.png"><span>0.4km</span></div>
						<div class="is_read"><img src="../assets/img/greet_nearby.png"><span>打招呼</span></div>
					</div>
				</div>
				<div class="border"></div>
			</li>
			<li class="person_item">
				<div class="box">
					<img class="head_img" src="../assets/img/headImg.jpg">
					<div class="content">
						<div class="name">长安不问</div>
						<div class="info">27岁  . 156cm</div>
					</div>
					<div class="status">
						<div class="time"><img src="../assets/img/position.png"><span>0.4km</span></div>
						<div class="is_read"><img src="../assets/img/greet_nearby.png"><span>打招呼</span></div>
					</div>
				</div>
				<div class="border"></div>
			</li>
			<li class="person_item">
				<div class="box">
					<img class="head_img" src="../assets/img/headImg.jpg">
					<div class="content">
						<div class="name">长安不问</div>
						<div class="info">27岁  . 156cm</div>
					</div>
					<div class="status">
						<div class="time"><img src="../assets/img/position.png"><span>0.4km</span></div>
						<div class="is_read"><img src="../assets/img/greet_nearby.png"><span>打招呼</span></div>
					</div>
				</div>
				<div class="border"></div>
			</li>
			<li class="person_item">
				<div class="box">
					<img class="head_img" src="../assets/img/headImg.jpg">
					<div class="content">
						<div class="name">长安不问</div>
						<div class="info">27岁  . 156cm</div>
					</div>
					<div class="status">
						<div class="time"><img src="../assets/img/position.png"><span>0.4km</span></div>
						<div class="is_read"><img src="../assets/img/greet_nearby.png"><span>打招呼</span></div>
					</div>
				</div>
				<div class="border"></div>
			</li>
			<li class="person_item">
				<div class="box">
					<img class="head_img" src="../assets/img/headImg.jpg">
					<div class="content">
						<div class="name">长安不问</div>
						<div class="info">27岁  . 156cm</div>
					</div>
					<div class="status">
						<div class="time"><img src="../assets/img/position.png"><span>0.4km</span></div>
						<div class="is_read"><img src="../assets/img/greet_nearby.png"><span>打招呼</span></div>
					</div>
				</div>
				<div class="border"></div>
			</li>
			<li class="person_item">
				<div class="box">
					<img class="head_img" src="../assets/img/headImg.jpg">
					<div class="content">
						<div class="name">长安不问</div>
						<div class="info">27岁  . 156cm</div>
					</div>
					<div class="status">
						<div class="time"><img src="../assets/img/position.png"><span>0.4km</span></div>
						<div class="is_read"><img src="../assets/img/greet_nearby.png"><span>打招呼</span></div>
					</div>
				</div>
				<div class="border"></div>
			</li>
			<li class="person_item">
				<div class="box">
					<img class="head_img" src="../assets/img/headImg.jpg">
					<div class="content">
						<div class="name">长安不问</div>
						<div class="info">27岁  . 156cm</div>
					</div>
					<div class="status">
						<div class="time"><img src="../assets/img/position.png"><span>0.4km</span></div>
						<div class="is_read"><img src="../assets/img/greet_nearby.png"><span>打招呼</span></div>
					</div>
				</div>
				<div class="border"></div>
			</li>
		</ul>

		<div class="nearby_greet_btn">一键打招呼</div>
	</div>

	<div class="page page_profile">
		<div class="profile_header">
			<img class="head_img" src="../assets/img/headImg.jpg">
			<div class="info_box">
				<div class="name">一个像夏一个像秋</div>
				<div class="status">(审核中)</div>
				<div class="info"><span>我的资料</span> <div class="info_degree">完善度<span>100%</span></div></div>
			</div>
		</div>
		<div class="profile_album">
			<ul class="ablum_list">
				<li class="ablum_item"><img src="../assets/img/headImg.jpg"></li>
				<li class="ablum_item"><img src="../assets/img/headImg.jpg"></li>
				<li class="ablum_item"><img src="../assets/img/headImg.jpg"></li>
				<li class="ablum_item"><img src="../assets/img/headImg.jpg"></li>
			</ul>
		</div>
		<div class="profile_classify">
			<div class="classify_item vip">
				<img class="classify_icon" src="../assets/img/profile_vip.png">
				<div class="classify_describe">
					<div class="name">会员特权</div>
					<div class="time">到期时间: <span>2016.08.09</span></div>
				</div>
			</div>
			<div class="classify_item phone">
				<img class="classify_icon" src="../assets/img/profile_phone.png">
				<div class="classify_describe">
					<div class="name">手机认证</div>
					<div class="time">手机号: <span>15268589535</span></div>
				</div>
			</div>
			<div class="classify_item friend">
				<img class="classify_icon" src="../assets/img/profile_friend.png">
				<div class="classify_describe">
					<div class="name name2">择友条件</div>
				</div>
			</div>
			<div class="classify_item visiter">
				<img class="classify_icon" src="../assets/img/profile_visiter.png">
				<div class="classify_describe">
					<div class="name">最近访客</div>
					<div class="time"><span>1526</span>位</div>
				</div>
			</div>
			<div class="classify_item lover">
				<img class="classify_icon" src="../assets/img/profile_lover.png">
				<div class="classify_describe">
					<div class="name name2">我喜欢的人</div>
				</div>
			</div>
			<div class="classify_item loveme">
				<img class="classify_icon" src="../assets/img/profile_loveme.png">
				<div class="classify_describe">
					<div class="name">喜欢我的人</div>
					<div class="time"><span>589535</span>位</div>
				</div>
			</div>
			
		</div>
	</div>

	<ul class="footer">
		<li class="footer_btn selected"><img src="../assets/img/footer_img_red_0.png"/><div>缘分</div></li>
		<li class="footer_btn"><img src="../assets/img/footer_img_grey_1.png" /><div>私信</div></li>
		<li class="footer_btn"><img src="../assets/img/footer_img_grey_2.png" /><div>附近</div></li>
		<li class="footer_btn"><img src="../assets/img/footer_img_grey_3.png" /><div>我</div></li>
	</ul>
</body>
<script type="text/javascript">
    seajs.use('../js/index.js');
</script>
</html>