<!DOCTYPE html>
<html>
<head>
	<title>登录</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> 
	<script src="../common/js/global.js"></script>
	<script src="../common/js/sea.min.js"></script>
	<script src="../common/js/config.js"></script>
	<script src="../common/js/lib/crypto-js.js"></script>
</head>
</head>
<body>
<div>
<!-- <button class="button">进入</button></div> -->
<div style="position:absolute; top:0;left:0;right:0;bottom:0;width: 150px;height: 50px;font-size: 0.4rem;margin: auto;text-align: center;">请稍后...</div>
</body>

<script type="text/javascript">
    seajs.use('../js/login.js');
</script>
</html>