<!DOCTYPE html>
<html>
<head>
	<title>登录</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> 
	<script src="../common/js/global.js"></script>
	<script src="../common/js/sea.min.js"></script>
	<script src="../common/js/config.js"></script>
	<script src="../common/js/lib/crypto-js.js"></script>
</head>
</head>
<body>
<div>
<button class="button">进入</button></div>
</body>
<script type="text/javascript">
    seajs.use('../js/login.js');
</script>
</html>