<!DOCTYPE html>
<html>
<head>
	<title>南方以南</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> 
	<script src="../common/js/sea.min.js"></script>
	<script src="../common/js/config.js"></script>
	<script src="../common/js/global.js"></script>
	<link rel="stylesheet" type="text/css" href="../assets/css/message.css">
</head>
<body>
	<div class="header_back">
		<img src="../assets/img/back.png">
	</div>
	<div class="header">
		<div class="person">
			<img class="headImg" src="../assets/img/headImg.jpg">
			<div class="info">
				<div class="selfInfo">27岁·浙江·165cm</div>
				<div class="qqInfo">QQ号码：44534534534</div>
				<div class="phoneInfo">手机号码：15323442344</div>
			</div>
			<div class="next">下一封</div>
		</div>
		<div class="border"></div>
	</div>

	<div class="content">
		<div class="time">15.06.09 21:02</div>
		<div class="talk">
			<img src="../assets/img/headImg.jpg">
			<div class="talk_message">你觉得爱情和婚姻是两码事么？你是如何看待的？</div>
		</div>
		<div class="time">15.06.09 21:07</div>
		<div class="talk_right">
			<img src="../assets/img/headImg.jpg">
			<div class="talk_message">是的！</div>
		</div>
	</div>

	<div class="foot_send">
		<input class="send_message" type="text" name="sendMessage">
		<div class="send_btn">发送</div>
	</div>
</body>
<script type="text/javascript">
    seajs.use('../js/message.js');
</script>
</html>